body {
    background-color: blanchedalmond;
}

.mainText {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 0px;
    font-family: 'Staatliches', cursive;
}

.secondaryText {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2%;
    margin-top: 15px;
    font-family: 'Staatliches', cursive;
}

.start-btn,
.options {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: block;
    margin: 10px;
    background-color: #5a6ee0;
    color: white;
    width: 14%;
    height: 55px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
}

.start-btn:hover,
.options:hover {
    background-color: #485bc7;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}

.time {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.highScoreDiv {
    position: absolute;
    bottom: 10px;
    border: 2px solid;
    width: 11%;
}

.highScoreH1 {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 15px;
    text-align: center;
}


.highScore {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}

#initials {
    border: 2px solid black;
    width: 10%;
    height: 5%;
    position: relative;
    text-align: center;
    left: 45%;
    font-family: 'Staatliches', cursive;
    font-size: 100%;
}


@media screen and (max-width: 1500px) {
    .mainText {
        text-align: center;
        font-size: 7vw;
        margin-bottom: 0px;
        font-family: 'Staatliches', cursive;
    }

    .secondaryText {
        text-align: center;
        font-size: 5vw;
        margin-bottom: 5%;
        margin-top: 15px;
        font-family: 'Staatliches', cursive;
    }

    .start-btn,
    .options {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        display: block;
        margin: 10px;
        background-color: #5a6ee0;
        color: white;
        width: 22%;
        height: 55px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .highScoreDiv {
        position: absolute;
        bottom: 10px;
        left: 25%;
        border: 2px solid;
        width: 50%;
    }

    .highScoreH1 {
        font-family: 'Staatliches', cursive;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .highScore {
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
    }

    #initials {
        border: 2px solid black;
        width: 10%;
        height: 5%;
        position: relative;
        text-align: center;
        left: 35%;
        font-family: 'Staatliches', cursive;
        font-size: 100%;
    }
}

@media screen and (max-width: 980px) {
    .mainText {
        text-align: center;
        font-size: 8vw;
        margin-bottom: 0px;
        font-family: 'Staatliches', cursive;
    }

    .secondaryText {
        text-align: center;
        font-size: 5vw;
        margin-bottom: 5%;
        margin-top: 15px;
        font-family: 'Staatliches', cursive;
    }

    .start-btn,
    .options {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        display: block;
        margin: 10px;
        background-color: #5a6ee0;
        color: white;
        width: 30%;
        height: 55px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .highScoreDiv {
        position: absolute;
        bottom: 10px;
        left: 25%;
        border: 2px solid;
        width: 50%;
    }

    .highScoreH1 {
        font-family: 'Staatliches', cursive;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .highScore {
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
    }

    #initials {
        border: 2px solid black;
        width: 10%;
        height: 5%;
        position: relative;
        text-align: center;
        left: 35%;
        font-family: 'Staatliches', cursive;
        font-size: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mainText {
        text-align: center;
        font-size: 7vw;
        margin-bottom: 0px;
        font-family: 'Staatliches', cursive;
    }

    .secondaryText {
        text-align: center;
        font-size: 5vw;
        margin-bottom: 5%;
        margin-top: 15px;
        font-family: 'Staatliches', cursive;
    }

    .start-btn,
    .options {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        display: block;
        margin: 10px;
        background-color: #5a6ee0;
        color: white;
        width: 37%;
        height: 55px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .highScoreDiv {
        position: absolute;
        bottom: 10px;
        left: 25%;
        border: 2px solid;
        width: 50%;
    }

    .highScoreH1 {
        font-family: 'Staatliches', cursive;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .highScore {
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
    }

    #initials {
        border: 2px solid black;
        width: 10%;
        height: 5%;
        position: relative;
        text-align: center;
        left: 35%;
        font-family: 'Staatliches', cursive;
        font-size: 100%;
    }
}

@media screen and (max-width: 570px) {
    .mainText {
        text-align: center;
        font-size: 8vw;
        margin-bottom: 0px;
        font-family: 'Staatliches', cursive;
    }

    .secondaryText {
        text-align: center;
        font-size: 5vw;
        margin-bottom: 5%;
        margin-top: 15px;
        font-family: 'Staatliches', cursive;
    }

    .start-btn,
    .options {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        display: block;
        margin: 10px;
        background-color: #5a6ee0;
        color: white;
        width: 57%;
        height: 55px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .highScoreDiv {
        position: absolute;
        bottom: 10px;
        left: 25%;
        border: 2px solid;
        width: 50%;
    }

    .highScoreH1 {
        font-family: 'Staatliches', cursive;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .highScore {
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
    }

    #initials {
        border: 2px solid black;
        width: 10%;
        height: 5%;
        position: relative;
        text-align: center;
        left: 35%;
        font-family: 'Staatliches', cursive;
        font-size: 100%;
    }
}

@media screen and (max-width: 375px) {
    .mainText {
        text-align: center;
        font-size: 8vw;
        margin-bottom: 0px;
        font-family: 'Staatliches', cursive;
    }

    .secondaryText {
        text-align: center;
        font-size: 5vw;
        margin-bottom: 5%;
        margin-top: 15px;
        font-family: 'Staatliches', cursive;
    }

    .start-btn,
    .options {
        font-family: 'Open Sans', sans-serif;
        position: relative;
        display: block;
        margin: 10px;
        background-color: #5a6ee0;
        color: white;
        width: 60%;
        height: 55px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .highScoreDiv {
        position: absolute;
        bottom: 10px;
        left: 25%;
        border: 2px solid;
        width: 50%;
    }

    .highScoreH1 {
        font-family: 'Staatliches', cursive;
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 15px;
        text-align: center;
    }

    .highScore {
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
    }

    #initials {
        border: 2px solid black;
        width: 10%;
        height: 5%;
        position: relative;
        text-align: center;
        left: 35%;
        font-family: 'Staatliches', cursive;
        font-size: 100%;
    }
}