body {
    background-color: blanchedalmond;
}

.questionText {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 40px;
    font-family: 'Staatliches', cursive;
}

.start-btn,
.options {
    font-family: 'Staatliches', cursive;
    position: relative;
    display: block;
    margin: 10px;
    background-color: #5a6ee0;
    color: white;
    width: 155px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
}


.start-btn:hover,
.options:hover {
    background-color: #485bc7;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
}